/* SortButtonGrou */
.sort-button-group i {
  margin: 0 4px;
  cursor: pointer;
}
.sort-button-group .rotate {
  transform-origin: 50%, 50%;
  transform: rotate(90deg);
}
/* SortButtonGrou */

/* CommonPopverControl */
.control-panel-list {
  width: 100%;
  min-height: 200px;
  padding: 0;
}
.control-panel-list li {
  list-style: none;
  width: 100%;
  line-height: 26px;
  cursor: pointer;
}
/* CommonPopverControl */

/* ColumonImage */
.column-image {
  width: 50px;
  cursor: pointer;
}
/* ColumonImage */
